:root {
    --blue: #00a9e0;
}

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}


.websiteLink {
    position: fixed;
    width: 6em;
    margin: 1em 2em;
}
.websiteLinkLogo {
    fill: var(--blue);
}
a > .websiteLinkLogo:hover {
    fill: black;
}

.social {
    position:absolute;
    bottom: 0.5em;
    right: 1em;
    z-index: 1; 
    font-size: 1.5em;
}
.fa {
    text-decoration: none;
    border-radius: 50%;
    padding-left: 0.1em;
    color: var(--blue);
}
.fa:hover {
    color: black;
}


/* Het startscherm. */
.startScreen {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    cursor: pointer;
    background-color: black;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.startScreenElements {
    /* display: grid;
    place-items: center; */
    z-index: 1;
    margin-right: 37%;
    color: white;
    font-family: Montserrat, 'Open Sans', Verdana, sans-serif;
}

.startText {
    position: relative;
    font-weight: 700;
    font-size: 3em;
    /* font-size: 3em; */
    /* margin-bottom: 1em; */
    /* margin-right: 5.5em; */
}

.startSubText {
    position: relative;
    font-weight: 300;
    font-size: 1.3em;
}
@keyframes moving-arrow {
    0% { padding-left: 1em; opacity: 0.7; }
    50% { padding-left: 2em; opacity: 1; }
    100% { padding-left: 1em; opacity: 0.7; }
}
.arrow {
    position: absolute;
    width: 1.9em;
    padding-left: 2em;
    fill: white;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    animation-name: moving-arrow;
    animation-duration: 1.7s;
    animation-iteration-count:infinite;
}


.startLogo {
    width: 12em;
}

.startScreenImage {
    height: 100%;
    width: 100vw;
    right: -45%;
    position: fixed;
    display: grid;
    place-items: center;
}
img {
    height: 120%;
    bottom: 20%;
}


/* Het laadscherm. */
.loadingScreen {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    user-select:none;
    background-color: black;
}

.spinner {
    position: relative;
    width: 5em;
    height: 5em;
    padding-right: 2em;
    margin-bottom: 3em;
}
.spinner:before, .spinner:after {
    content: "";
    display: block;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
}

@-webkit-keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }
    @keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes anti-rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes anti-rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.spinner.spinner-1:before {
    width: 117px;
    height: 117px;
    border-bottom-color: var(--blue);
    border-right-color: var(--blue);
    border-top-color: rgba(0, 169, 224, 0);
    border-left-color: rgba(0, 169, 224, 0);
    top: 0px;
    left: 0px;
    -webkit-animation: rotate-animation 1s linear 0s infinite;
            animation: rotate-animation 1s linear 0s infinite;
}
.spinner.spinner-1:after {
    width: 81.9px;
    height: 81.9px;
    border-bottom-color: var(--blue);
    border-right-color: var(--blue);
    border-top-color: rgba(0, 169, 224, 0);
    border-left-color: rgba(0, 169, 224, 0);
    top: 17.55px;
    left: 17.55px;
    -webkit-animation: anti-rotate-animation 0.85s linear 0s infinite;
            animation: anti-rotate-animation 0.85s linear 0s infinite;
}


.videoSwap, .videoRecord {
    display: none;
}

/* ThreeJS canvas. */
.canvas {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
}